.footer{
height: 200px;

@include on-tablet{
  height: 480px;
}
@include on-desktop{
  height:555px ;
}
  &__image{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;

  }
}
