.header {
  padding: 24px 20px 88px;
  box-sizing: border-box;
  height: 480px;
  background-image: url(/images/Cover_photo.png);
  background-size: cover;
  background-position: right;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include on-tablet {
    height: 628px;
    background-size: cover;
  }

  @include on-desktop {
    height: 100vh;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include on-tablet {
      padding: 36px 72px;
    }

    @include on-desktop {
      padding: 36px 120px;
    }
  }
  &__top-logo-link {
    display: flex;
  }

  &__top-logo {
    width: 130px;
    height: 38px;

    @include hover(transform, scale(1.2));

    @include on-tablet {
      width: 187px;
      height: 56px;
    }

    @include on-desktop {
      width: 187px;
      height: 56px;
    }
  }

  &__icons {
    display: flex;
    gap: 24px;
    align-items: center;
  }

  &__botom {
    align-self: center;
  }

  &__title {
    font-size: 36px;
    letter-spacing: -1.5px;

    @include on-tablet {
      font-size: 64px;
    }
  }
}
