.main {
  display: grid;
  row-gap: 92px;
  padding-block: 92px;
  padding-left: 20px;
  padding-right: 20px;
  background: #1D1D1D;

  @include on-tablet {
    row-gap: 120px;
    padding-block: 120px;
    padding-left: 72px;
    padding-right: 72px;
  }

  @include on-desktop {
    row-gap: 144px;
    padding-left: 120px;
    padding-right: 120px;
  }
}
