.menu {
  padding: 24px 20px 88px;
  box-sizing: border-box;
  height: 100vh;
  background-color: #c2c2c2;
  font-weight: 600;
  text-transform: uppercase;

  @include on-tablet {
    padding: 36px 72px;
  }

  @include on-desktop {
    padding: 36px 120px;
  }

  &__nav {
    margin-top: 44px;
    margin-bottom: 40px;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__top-logo {
    width: 130px;
    height: 38px;

    @include hover(transform, scale(1.2));

    @include on-tablet {
      width: 187px;
      height: 56px;
    }

    @include on-desktop {
      width: 187px;
      height: 56px;
    }
  }

  &__phone-number {
    color: #1d1d1d;
    text-decoration: none;
    display: block;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 16px;
  }

  &__call-test-drive {
    color: #1d1d1d;
    text-decoration: none;
    display: block;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    padding-bottom: 7px;
    border-bottom: 1px solid #1d1d1d;
    width: fit-content;
  }
}
